h1{
    font-family: " Engravers' Old English BT";
    text-align: center;
    color: white ;
}
body {
    background-color: black;
}

a{
    color:gray ;
    text-decoration: none;
    text-align: center;
    
}
nav{
    align-items: center;
    display: flex ;
    
}
button{
    padding: 10px 20px  ;
    margin : 10px ;

}
hr{
    border: 1px solid brown ;
}
h2
{
    color: white;

}
